@import '../../../helpStyles/variables.scss';

.mainBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease 0s;
  &:active {
    transform: scale(0.97);
  }
  & svg {
    transition: all 0.2s ease 0s;
  }
}

@media (min-width: 1024px) {
  .mainBtn:hover svg {
    opacity: 0.6;
  }
  .mainBtn:hover {
    text-shadow: 0 0 1px snow;
  }
}
