@import '../../../../helpStyles/variables.scss';

.categoriesContainer {
  width: 190px;
  max-height: 270px;
  margin: 20px 0 30px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $main-color #f6f6f6;
  transform: scaleX(-1);
  &::-webkit-scrollbar {
    width: 1px;
  }
  &::-webkit-scrollbar-track {
    background: #f6f6f6;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
  }
}

.category__list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 5px 10px;
  transform: scaleX(-1);
}

@media (max-width: 1600px) {
  .categoriesContainer {
    width: 190px;
  }
  .category__list {
    row-gap: 20px;
  }
}
