@import '../../../../../helpStyles/variables.scss';

.userMenu__container {
  column-gap: 20px;
  background-color: transparent;
}

.userMenu__name {
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s linear 0s;
}

.userMenu__avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.userMenu__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: $lightModeBoxShadow;
  transition: all 0.3s linear 0s;
  svg {
    transition: all 0.3s linear 0s;
  }
  &.darkMode {
    box-shadow: none;
    background-color: $darkModeBgElement;
  }
}

.rotate {
  transform: rotate(-180deg);
}

@media (max-width: 767px) {
  .userMenu__container {
    column-gap: 14px;
  }

  .userMenu__name {
    font-size: 14px;
  }

  .userMenu__avatar {
    width: 54px;
    height: 54px;
  }

  .userMenu__icon {
    width: 26px;
    height: 26px;
  }
}
