@import '../../../helpStyles/variables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease 0s;
  z-index: 3;
}
.open {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.darkMode {
  background-color: $darkModeBgElement;
}

.modal.open .modal__container {
  top: 40%;
}
