@import '../../../../helpStyles/variables.scss';

.listItem {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  background-color: transparent;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all 0.3s linear 0s;
  & svg path {
    transition: all 0.3s linear 0s;
  }
  &.darkMode svg path {
    stroke: #f9f9f9;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgba(97, 96, 96);
  }
  &.selected {
    transform: scale(0.97);
    transition: all 0.3s ease 0s;
  }
  &.selected::before {
    width: 80%;
    transition: all 0.3s ease 0s;
  }
}

@media (min-width: 1024px) {
  .listItem:hover {
    transform: scale(0.97);
    transition: all 0.3s ease 0s;
  }
  .listItem:hover::before {
    width: 80%;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 1400px) {
  .listItem {
    line-height: 20px;
  }
}
