@import '../../../../helpStyles/variables.scss';

.listItem {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.4px;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: all 0.1s linear 0s;
  & svg path {
    transition: all 0.3s linear 0s;
  }
  &.darkMode {
    &.selected {
      background-color: #222831;
    }
    svg path {
      stroke: #f9f9f9;
    }
  }

  &.selected {
    background-color: #e1e1e1;
  }
}

@media (min-width: 1024px) {
  .listItem {
    &:hover {
      background-color: #e1e1e1;
    }
    &.darkMode {
      &:hover {
        background-color: #222831;
      }
    }
  }
}

@media (max-width: 1400px) {
  .listItem {
    line-height: 20px;
  }
}
