@import '../.../../../../../../helpStyles/variables.scss';

.category__container {
  position: relative;
  display: none;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  transition: all 0.3s ease 0.2s;
  &.active {
    display: flex;
    animation: show 0.4s linear;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.category__title {
  font-family: 'Roboto' serif;
  flex: 0 1 10%;
  font-size: calc(18px + 12 * (100vw / 1920));
  font-weight: 700;
  color: grey;
}

.activeTasks__block,
.completedTasks__block {
  margin-top: 15px;
  padding: 0 15px;
}

.activeTasks__block {
  flex: 1 1 55%s;
}

.completedTasks__block {
  flex: 1 1 35%;
}

.activeTasks__container,
.completedTasks__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 20px 0;
  padding-right: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $main-color #f6f6f6;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: #f6f6f6;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
  }
}
.activeTasks__container {
  max-height: 320px;
}

.completedTasks__container {
  max-height: 250px;
}

.category__configBtn {
  position: absolute;
  top: 24px;
  right: 20px;
  display: flex;
  column-gap: 5px;
  padding: 5px 7px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: transparent;
  span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: grey;
  }
}

.task-enter {
  animation: fade-in 0.6s forwards;
}

.task-enter-active {
  animation: fade-in 0.6s forwards;
}

.task-exit {
  animation: fade-out 0.4s forwards;
}

.task-exit-active {
  animation: fade-out 0.4s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

@media (max-width: 1400px) {
  .activeTasks__block,
  .completedTasks__block {
    padding: 0 10px;
  }

  .category__configBtn {
    top: 24px;
    right: 16px;
    column-gap: 5px;
    padding: 4px 6px;
    span {
      width: 6px;
      height: 6px;
    }
  }
}

@media (max-width: 1024px) {
  .activeTasks__block,
  .completedTasks__block {
    padding: 0 0px;
  }

  .activeTasks__container {
    min-height: 320px;
  }

  .completedTasks__container {
    min-height: 250px;
  }
}

@media (max-width: 767px) {
  .category__container {
    padding: 18px 12px;
  }

  .activeTasks__container {
    min-height: 320px;
    margin-top: 20px;
  }

  .category__configBtn {
    top: 16px;
    column-gap: 6px;
    padding: 6px 8px;
    span {
      width: 7px;
      height: 7px;
    }
  }
}
