@import '../../../../../helpStyles/variables.scss';

.selectContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin: 15px 10px 35px;
}

.selectText {
  font-size: 17px;
  letter-spacing: 0.4px;
}

.select {
  width: 110px;
  padding: 4px 5px;
  border: 1px solid rgba(40, 40, 70, 0.3);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  color: #666;
}

.statisticsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 430px;
}

.item {
  flex: 0 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.itemInfo {
  width: 100%;
  margin-top: 10px;
  padding: 17.5px 16.5px;
  border: 1px solid $main-color;
  border-radius: 50%;
  text-align: center;
}

.count {
  font-weight: 600;
  font-size: calc(24px + 8 * (100vw / 1920));
  line-height: 49px;
  letter-spacing: 0.02em;
  color: $main-color;
}

@media (max-width: 490px) {
  .select {
    margin: 5px 0 0;
  }

  .selectText {
    font-size: 15px;
    letter-spacing: 0.4px;
  }

  .statisticsContainer {
    flex-direction: column;
    width: 260px;
  }

  .item {
    flex: 0 0 100px;
    min-width: 100px;
  }

  .itemInfo {
    margin-top: 8px;
    padding: 5px 20px;
    border: 0px solid $main-color;
  }

  .count {
    line-height: 32px;
  }
}

@media (max-width: 490px) and (max-height: 430px) {
  .select {
    margin: 15px 0 20px;
  }

  .statisticsContainer {
    flex-direction: row;
    width: 360px;
  }

  .item {
    flex: 0 0 100px;
    min-width: 100px;
  }

  .count {
    font-size: 20px;
    line-height: 30px;
  }
}
