@import '../../../helpStyles/variables.scss';

.asideBar {
  flex: 0 1 231px;
  height: 100vh;
  padding: 20px 0 20px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  background-color: #fff;
  box-shadow: $lightModeBoxShadow;
  transition: all 0.3s linear 0s;
  &.darkMode {
    box-shadow: none;
    background-color: $darkModeBgElement;
  }
}
