@import '../../../helpStyles/variables.scss';

.mainContent__tabsContainer {
  flex: 0 1 60%;
  height: 85vh;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s linear 0s;
  overflow: hidden;
  &.darkMode {
    background-color: $darkModeBgElement;
  }
}

.noCategory {
  font-weight: 700;
  padding: 40px;
  font-size: 30px;
  color: grey;
}
