@import '../../../../helpStyles/variables.scss';

.mainContent__time {
  flex: 0 1 35%;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s linear 0s;
  &.darkMode {
    background-color: $darkModeBgElement;
    .calendar-btn {
      box-shadow: -3px 3px 2px 4px#222831;
      &:active {
        box-shadow: 0 0 0 0 #222831;
      }
    }
  }
}

.time__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.time__helpTitle {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
}

.time__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.time__block-data {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 0.02em;
}

.calendar-btn {
  padding: 12px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: -3px 3px 2px 4px #e5e5e5;
  transition: all 0.2s ease;
  &:active {
    transform: translate(-3px, 3px);
    box-shadow: 0 0 0 0 #e5e5e5;
  }
}

.mainContent__time.darkMode .time__block-data {
  svg path {
    stroke: rgba(249, 249, 249, 1);
  }
}
