.category__configModal {
  position: absolute;
  top: 22px;
  right: 80px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear 0s;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.category__filter {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
}

.category__removeBtn {
  font-size: 16px;
  background-color: transparent;
  &:active {
    transform: scale(0.97);
  }
}

@media (max-width: 1400px) {
  .category__configModal {
    top: 18px;
    right: 70px;
    column-gap: 20px;
  }

  .category__filter {
    font-size: 14px;
  }

  .category__removeBtn {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .category__configModal {
    position: static;
    column-gap: 0px;
    width: 100%;
    justify-content: space-between;
    padding: 10px 5px 0 0;
  }

  .category__removeBtn {
    font-size: 16px;
  }
}
