.categoryConfig {
  position: absolute;
  top: 20px;
  right: 80px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear 0s;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.sorting {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
}

.select {
  padding: 6px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 14px;
  color: #282846;
  cursor: pointer;
}

.removeBtn {
  font-size: 16px;
  background-color: transparent;
  &:active {
    transform: scale(0.97);
  }
}

@media (max-width: 1400px) {
  .categoryConfig {
    top: 18px;
    right: 70px;
    column-gap: 20px;
  }

  .sorting {
    font-size: 14px;
  }

  .removeBtn {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .categoryConfig {
    position: static;
    column-gap: 0px;
    width: 100%;
    justify-content: space-between;
    padding: 10px 5px 0 0;
  }

  .removeBtn {
    font-size: 16px;
  }
}
