@import '../../../helpStyles/variables.scss';

.logOut {
  column-gap: 10px;
  background-color: transparent;
  font-weight: 400;
  font-size: inherit;
  letter-spacing: 0.025em;
  transition: all 0.3s linear 0s;
  svg {
    width: 18px;
    height: 18px;
    path {
      transition: all 0.3s linear 0s;
    }
  }
  &.darkMode svg path {
    stroke: #f9f9f9;
  }
}
