// accent color
$main-color: #29a19c;
// box background
$darkModeBgElement: #2c3440;
// text color
$lightModeColorText: #282846;
$darkModeColorText: #f9f9f9;
// light mode shadow
$lightModeBoxShadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
