@import '../.../../../../../helpStyles/variables.scss';

.category__container {
  position: relative;
  display: none;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  transition: all 0.3s ease 0.2s;
  &.active {
    display: flex;
    animation: show 0.4s linear;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.category__title {
  font-family: 'Roboto' serif;
  flex: 0 1 10%;
  font-size: 30px;
  font-weight: 700;
  color: grey;
}

.category__activeTasks,
.category__completedTasks {
  padding: 0 15px;
}

.category__activeTasks {
  flex: 1 1 55%;
}

.category__completedTasks {
  flex: 1 1 35%;
}

.activeTasksContainer,
.completedTasksContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 20px 0;
  padding-right: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $main-color #f6f6f6;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: #f6f6f6;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
  }
}
.activeTasksContainer {
  max-height: 320px;
}

.completedTasksContainer {
  max-height: 250px;
}

.activeTasksContainer.darkMode,
.completedTasksContainer.darkMode {
  .task {
    border: 1px solid rgba(249, 249, 249, 0.2);
  }
  .taskEdit svg path {
    fill: #f9f9f9;
  }
}

.category__configBtn {
  position: absolute;
  top: 24px;
  right: 20px;
  display: flex;
  column-gap: 5px;
  padding: 5px 7px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: transparent;
  span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: grey;
  }
}

.task-enter {
  animation: fade-in 0.6s forwards;
}

.task-enter-active {
  animation: fade-in 0.6s forwards;
}

.task-exit {
  animation: fade-out 0.4s forwards;
}

.task-exit-active {
  animation: fade-out 0.4s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
